#news-list {
  padding: 60px 0;
  background: #f1f2f3;
}
.news-list {
}

.breaking-news {
  background: var(--Main-Red, #c31815);
  width: 93%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-breaking {
  background: white;
  width: 157px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-breaking h3 {
  color: #c31815;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
.breaking-title {
  margin-left: 60px;
}
.breaking-title p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
}

.main-news-list {
  display: flex;
  padding-top: 40px;
}

.main-news {
  width: 64%;
}
.news-categories {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
}
.categories-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.categories-title p {
  color: var(--Text, #2a2a2a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.news-card {
  width: 403px;
  height: 605px;
  fill: #fff;
  filter: drop-shadow(0px 2px 14px rgba(42, 42, 42, 0.24));
  border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
  position: relative;
}
.news-card img {
  width: 403px;
  object-fit: contain;
}
.card-title {
  padding: 14px;
}
.card-title h4 {
  width: 358px;
  height: 45px;
  color: var(--Text, #2a2a2a);
  font-family: "IBM Plex Serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
.card-title p {
  padding-top: 17px;
  width: 358px;
  height: 106px;
  color: var(--Text, #2a2a2a);
  font-family: "Nunito Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.title-time {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 370px;
  /* padding-top: 30px; */
}
.title-time p {
  color: var(--Text, #2a2a2a);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}

.live-news {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.live-block {
  padding-top: 10px;
  width: 335px;
  height: 320px;
}
.live-block img {
  width: 336px;
  height: 218px;
  object-fit: cover;
  padding-top: 10px;
}
.live-block h4 {
  color: var(--Main-Red, #c31815);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65px;
}
.live-block p {
  color: var(--Text, #2a2a2a);
  font-family: "IBM Plex Serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.location-new {
  color: var(--Text, #2a2a2a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin: 20px 0;
}
.message-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 15px;
  width: 305px;
  height: 190px;
  background: #fff;
}
.message-news p {
  color: #141414;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
}
.message-news input {
  width: 92%;
  height: 60px;
  padding-left: 20px;
}
.message-news button {
  border-radius: 2px;
  background: #c31815;
  width: 100px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
